.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 17px;
  }
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(175, 175, 175, 0.3);
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    top: -2px;
    left: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
  
input:checked + .slider {
    background-color: var(--light-blue);
}
/*   
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  } */
  
input:checked + .slider:before {
    background-color: var(--medium-sky-blue);
    transform: translateX(27px);
    -webkit-transform: translateX(27px);
    -ms-transform: translateX(27px);
    -moz-transform: translateX(27px);
    -o-transform: translateX(27px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}