span.info {
	display: block;
	background-color: var(--light-blue);
	color: var(--medium-sky-blue);
	font-size: 1rem;
	margin: 10px 0;
	padding: 5px 10px 10px 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

span.info::before {
	content: "";
	display: block;
	float: left;
	width: 1.75rem;
	height: 1.75rem;
	margin: 2px 8px 0px 0px;
	background-image: url(../images/info.svg);
	background-size: 85%;
	background-position: center;
	background-repeat: no-repeat;
}

.msg {
	position: absolute;
	right: 0;
	bottom: 3rem;
	display: block;
	width: 25rem;
	height: 4rem;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	max-width: 80%;
	background-color: #11111a;
	padding: 1rem 1.25rem;
	border-radius: 10px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;
	-ms-border-radius: 10px 0 0 10px;
	-o-border-radius: 10px 0 0 10px;
	transition: 0.3s ease-in;
	-webkit-transition: 0.3s ease-in;
	-moz-transition: 0.3s ease-in;
	-ms-transition: 0.3s ease-in;
	-o-transition: 0.3s ease-in;
}

.msg::selection {
	background-color: none;
}

.msg span {
	position: relative;
	display: block;
	color: white;
	font-size: 1.15rem;
}

.msg.warning {
	border-left: 5px solid var(--primary-red);
}

.msg.warning span::before {
	content: "WARNING";
	display: block;
	float: left;
	font-weight: bold;
	font-size: 1rem;
	margin-right: 1rem;
	color: var(--primary-red);
	margin-top: 2px;
}

.msg.complete {
	border-left: 5px solid var(--primary-green);
}

.msg.complete span::before {
	content: "COMPLETE";
	display: block;
	float: left;
	font-weight: bold;
	font-size: 1rem;
	margin-right: 1rem;
	color: var(--primary-green);
	margin-top: 2px;
}

.turn-statement {
	position: relative;
	display: block;
	width: 100%;
	height: 5rem;
	background-color: var(--bg-color);
	text-align: center;
	margin: 0rem auto 0rem auto;
	font-size: 1.15rem;
	text-transform: uppercase;
	padding: 1.75rem;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	z-index: 5;
}

input.num-input::-webkit-outer-spin-button,
input.num-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input.num-input[type="number"] {
	-moz-appearance: textfield;
	width: 2rem;
    border: 0;
	border: 2px solid rgba(128, 128, 128, 0.3);
	border-radius: 3px;
	outline: 0;
	padding: 2px 3px;
	background-color: transparent;
	color: var(--text-color);
	font-size: 1rem;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

input.num-input[type="number"]:invalid {
    border-color: var(--primary-red);
}

input.num-input[type="number"]:focus {
	box-shadow: none;
	border-color: var(--medium-sky-blue);
}

input.submit-btn {
	display: block;
    margin-top: 1.5rem !important;
    appearance: none;
    background-color: rgba(119, 123, 131, 0.05);
    color: var(--text-color);
    font-size: 1rem;
    border: 2px solid rgba(119, 123, 131, 0.4);
    outline: 0;
    padding: 6px 11px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

input.submit-btn:hover {
    cursor: pointer;
    background-color: rgba(119, 123, 131, 0.15);
}

input.submit-btn:focus {
	border-color: var(--medium-sky-blue);
}